.card-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
    height: 360px;

    margin: 20px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0); 
    font-size: 38px;
}

.card-portfolio:hover {
    transition: ease-out 1s;
    font-weight: bold;
    color: rgba(0, 0, 0, 1); 
    background-image: none !important;
}

.portfolio-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 20px;
    width: 100%;
    overflow-x: scroll;
}