.card-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
    height: 360px;

    margin: 20px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.4;
    color: rgba(0, 0, 0, 1); /* Opacity for the text */
    font-size: 44px;
}

.card-portfolio:hover {
    transition: ease-out 1s;
    font-weight: bold;
    opacity: 1;
}


.bu {
    width: 320px;
    height: 380px;
    border: 1px dashed rgb(69, 67, 67);
}