footer{
    background-color: rgb(156, 130, 93);
    color: white;
    font-size: 24px;
    margin-top: 5em;
    margin-bottom: 1em;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    >* {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
}

a{
    text-decoration: none;
    color: white;
}

.svg-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}