.navbar {
    justify-content: center !important;
    padding: 0;
    margin-bottom: 3em !important;

    >* {
        margin: 0 10px 0 2px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        /* Add this line */
    }

    >*:hover {
        border: 1px solid var(--color-primary);
        border-radius: 10px;
        transition: border-width 0.6s linear;
    }

    .active {
        color: var(--color-primary);
    }

}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    >* {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        cursor: help;
    }
}

.about-component {
    display: flex;
    flex-direction: row;

    >* {
        margin: 10px;
        cursor: pointer;
    }
}

.portfolio-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px dashed black;
    width: 100%;
    overflow-x: scroll;
}

@media (max-width: 768px) {
    .about-component {
        flex-direction: column;
    }
}